<%- include('partials/header') -%>

<body>
    <section>
        <h1>Editing Medicine Entry</h1>
        <section>
            <ul>
                <% medList.forEach(med => { %>
                    <% if (med._id == idMed) { %>
                    <li>
                        <form action="/edit/update/<%= med._id%>" method="POST">
                            <label for="name">Medicine</label>
                            <input type="text" name="name" value = "<%= med.name%>">     
                            <br>
                            <label for="notes">Notes</label>   
                            <input type="text" name="notes" value = "<%= med.notes%>">
                            <br>
                            <button type="submit">Confirm</button>
                            <a href="/">Cancel</a>
                        </form>
                    </li>
                    <% } else { %>
                    <li>
                        <div><%= med.name %></div>
                        <div><%= med.notes %></div>
                        <a href="/edit/<%= med._id %>">Edit</a>
                        <a href="/edit/remove/<%= med._id %>">Remove</a>
                    </li>
                    <% } %>
                <% }) %>
            </ul>
        </section>
    </section>
</body>

<%- include('partials/footer') -%>